{%- comment -%}
  Renders price(s) for a product or variant.
  Usage:
    {% render 'price', product: product %}
    {% render 'price', variant: product.selected_or_first_available_variant %}

  Shows compare-at strike-through when on sale.
{%- endcomment -%}

{%- liquid
  if variant
    assign price = variant.price
    assign compare_at_price = variant.compare_at_price
    assign available = variant.available
    assign price_varies = false
  elsif product
    assign price = product.price
    assign compare_at_price = product.compare_at_price
    assign available = product.available
    assign price_varies = product.price_varies
  else
    assign price = 0
    assign compare_at_price = 0
    assign available = false
    assign price_varies = false
  endif
-%}

<span class="price{% if compare_at_price > price %} price--on-sale{% endif %}{% unless available %} price--sold-out{% endunless %}" data-price>
  {%- if price_varies -%}
    <span class="price__from">{{ 'products.from' | t }}</span>
  {%- endif -%}

  {%- if compare_at_price > price -%}
    <s class="price__compare">{{ compare_at_price | money_without_trailing_zeros }}</s>
  {%- endif -%}

  <span class="price__amount">{{ price | money_without_trailing_zeros }}</span>
</span>
